<?xml version="1.0"?>
<project name="Contao Manager" default="list" basedir=".">
    <target name="list">
        <echo message="Available commands:" />
        <echo message="  phing prod  -  Builds production files" />
        <echo message="  phing tx    -  Syncs language files with Transifex" />
    </target>

    <target name="prod" depends="build-prod">
        <echo message="Contao Package List build complete" />
    </target>

    <target name="deploy" depends="build-prod">
        <echo message="Deploying to extensions.contao.org" />
        <exec executable="rsync" checkreturn="true">
            <arg value="-av" />
            <arg value="--delete" />
            <arg value="./dist/*" />
            <arg value="packages@w1.hostingwerk.de:/srv/home/packages/public/" />
        </exec>
        <delete dir="dist" />
    </target>

    <target name="build-prod">
        <echo message="Compiling UI files" />
        <exec executable="npm" checkreturn="true">
            <arg value="run" />
            <arg value="build" />
        </exec>
    </target>

    <target name="tx">
        <echo message="Starting Transifex sync" />
        <exec executable="tx" passthru="true">
            <arg value="push" />
            <arg value="--source" />
            <arg value="--force" />
        </exec>
        <echo message="Waiting 10 seconds for sources to be parsed" />
        <exec executable="sleep">
            <arg value="10" />
        </exec>
        <exec executable="tx" passthru="true">
            <arg value="pull" />
            <arg value="--all" />
            <arg value="--force" />
            <arg value="--minimum-perc=50" />
        </exec>
    </target>
</project>
