
$font-sans-serif: -apple-system,system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

$text-color: #535353;
$link-color: #f47c00;
$highlight-color: #535353;

$body-background: #ebe6db;
$highlight-background: #ffff00;
$tiles-background: #fff;

$border-color: #cccccc;
$border-light-color: #e9eef1;
$shadow-color: #ccbfa2;
$footer-link: #2a7887;
$contao-color: #f47c00;
$funding-color: #ea4aaa;
$focus-color: #f9f9f9;

$default-button: #737373;
$green-button: #31a64b;
$red-button: #db5041;
$orange-button: #db8c41;
$blue-button: #6a8ca6;

$hint-background: #e8c8bc;
$hint-link: #bd2e20;

$header-bg: #e5dfcf;
$header-border: #dcd8cc;

$footer-border: #bbbbbb;

// Custom properties
:root {
  --text: #{$text-color};
  --link: #{$link-color};
  --body-bg: #{$body-background};
  --link-footer: #{$footer-link};

  --tiles-bg: #{$tiles-background};
  --tiles-bdr: #ddd3bc;

  --popup-hl-bg: #{$contao-color};
  --popup-bg: #fff;
  --popup-header: #fff;
  --tab-content: #f8f9fb;

  --highlight-bg: #{$highlight-background};
  --highlight-color: #{$highlight-color};

  --shadow: #{$shadow-color};
  --contao: #{$contao-color};

  --ad-shadow: #{0 1px 5px 1px rgba(0, 0, 0, 0.2)};

  --black: #000;
  --funding: #{$funding-color};
  --funding-rgb: #{red($funding-color), green($funding-color), blue($funding-color)};

  --form-bg: #fff;
  --border: #{$border-color};
  --border--light: #{$border-light-color};
  --focus: #{$focus-color};

  --clr-btn: #fff;
  --btn: #{$default-button};
  --btn-active: #{darken($default-button, 5)};
  --btn-primary: #{$green-button};
  --btn-primary-active: #{darken($green-button, 5)};
  --btn-warning: #{$orange-button};
  --btn-warning-active: #{darken($orange-button, 5)};
  --btn-alert: #{$red-button};
  --btn-alert-active: #{darken($red-button, 5)};
  --btn-info: #{$blue-button};
  --btn-info-active: #{darken($blue-button, 5)};
  --btn-funding: #{$funding-color};
  --btn-funding-active: #{darken($funding-color, 5)};

  --hint-bg: #{#e8c8bc};
  --hint-rgb: #{red(#e8c8bc), green(#e8c8bc), blue(#e8c8bc)};
  --hint-link: #{#bd2e20};

  --header-bg: #{$header-bg};
  --header-bdr: #{$header-border};
  --footer-bdr: #{$footer-border};

  --svg--link-blank: url('/src/assets/images/link-blank.svg');
  --svg--private: url('/src/assets/images/private.svg');
  --svg--updated: url('/src/assets/images/updated.svg');
  --svg--downloads: url('/src/assets/images/downloads.svg');
  --svg--favers: url('/src/assets/images/favers.svg');
}

// Dark-mode
html[data-theme=dark] {
  --text: #ddd;
  --link: #{$link-color};
  --body-bg: #0f0f11;

  --tiles-bg: #212227;
  --tiles-bdr: #303236;

  --popup-hl-bg: #292c32;
  --popup-bg: #1b1d21;
  --tab-content: #212227;

  --highlight-bg: #f47c00;
  --highlight-color: #fff;

  --ad-shadow: none;

  --black: #fff;

  --form-bg: #151619;
  --border: #44464b;
  --border--light: #2e2e34;
  --focus: #1e2024;

  --btn-info: #101012;
  --btn-info-active: #{darken(#101012, 5)};

  --hint-rgb: 57, 9, 20;

  --header-bg: #1b1d21;
  --header-bdr: #1b1d21;
  --footer-bdr: #414448;

  --svg--link-blank: url('/src/assets/images/link-blank--dark.svg');
  --svg--private: url('/src/assets/images/private--dark.svg');
  --svg--updated: url('/src/assets/images/updated--dark.svg');
  --svg--downloads: url('/src/assets/images/downloads--dark.svg');
  --svg--favers: url('/src/assets/images/favers--dark.svg');

  #contao-network {
    background: #292c32 !important;
    color: #ddd !important;
  }
}

@mixin screen($width) {
    @media (min-width: #{$width}px) {
        @content;
    }
}
