
$font-sans-serif: -apple-system,system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

$text-color: #535353;
$link-color: #f47c00;
$highlight-color: #ffff00;
$border-color: #cccccc;
$border-light-color: #e9eef1;
$shadow-color: #ccbfa2;
$footer-link: #2a7887;
$contao-color: #f47c00;
$funding-color: #ea4aaa;

$default-button: #737373;
$green-button: #31a64b;
$red-button: #db5041;
$orange-button: #db8c41;
$blue-button: #6a8ca6;

$hint-background: #e8c8bc;
$hint-link: #bd2e20;


@mixin screen($width) {
    @media (min-width: #{$width}px) {
        @content;
    }
}
